[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/staging/backend/code_capstone/venv/bin/uwsgi -i /home/ubuntu/staging/backend/code_capstone/fooday/.config/uwsgi/fooday.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target